/*style jul responsive*/

@media (max-width: 940px) {
}
@media (max-width: 768px) {
	section.login .left{
		width: 100%;
		display: inline-block;
		border: 0;
		background: none;
	}
	section.login .left:before{
		background: none;
	}
	section.login .left .brand{
		width:80%;
		padding: 15px 10%;
	}
	section.login .left .brand .imgBrand{
		width:110px;
	}
	section.login .left .brand .contBrand h1{
		font-size:20px;
		color:#0e4b63;
		margin: 0 0 5px 0;
	}
	section.login .left .brand .contBrand p{
		color:#0e4b63;
		margin: 5px 0;
	}
	section.login .right{
		width: 100%;
		display: inline-block;
	}
	section.login .right .formLog{
		width: 70%;
	}
	
}
@media (max-width: 600px) {	
}
@media (max-width: 480px) {
}
@media (max-width: 320px) {
}



